.disclaimer {
    font-size:.6em;
}

.bd-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:linear-gradient(0deg, rgba(74, 75, 77, 0.7), rgba(74, 75, 77, 0.7)), url("/images/greg-house-finished.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

/*@media (min-width: 768px) {*/
/*    .bd-img-lg {*/
/*        font-size: 3.5rem;*/
/*    }*/
/*}*/